* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    background-color: #25072E;
    background-image: url('./images/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*
######################################
TYPOGRAFIA
######################################
*/

body {
    color: rgba(204, 200, 255, 0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
}

a {
    color: #EF008E;
    text-decoration: none;
}

/*
######################################
PRZYCISKI
######################################
*/

.button {
    padding: 7px 15px;
    border-radius: 3px;
    background-color: rgba(204, 200, 255, 0.1);
    border-color: rgba(204, 200, 255, 0.1);

    color: rgba(204, 200, 255, 0.8);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    cursor: pointer;
}

.button--contact {
    margin-top: 20px;
}

/*
######################################
FORMULARZE
######################################
*/

.form__field {
    margin-bottom: 10px;
}

.form__label {
    display: block;
    margin-bottom: 9px;
}

.form__input {
    display: block;
    height: 35px;
    width: 300px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgba(219, 216, 251, 0.1);
}

/*
######################################
GŁÓWNY LAYOUT STRONY
######################################
*/

.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.page-content {
    margin-left: 220px;
    padding: 0 10%;
}

/*
######################################
NAWIGACJA
######################################
*/

.page-navigation__items {
    padding-top: 15px;
}

.page-navigation__link {
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 6.7px;
}

/*
######################################
LINKI DO SOCIAL MEDIA
######################################
*/


.social-links__item + .social-links__item {
    margin-top: 15px;
}

.social-links__img {
    width: 20px;
    height: 20px;
}

/*
######################################
STYLE WSPÓLNE DLA WSZYSTKICH SEKCJI
######################################
*/

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
}

.content-section__header {
    margin-bottom: 60px;
    color: #EF008E;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4.5px;
    text-transform: uppercase;
}

.content-section__body {
    flex-grow: 1;
}

/*
######################################
SEKCJA "HOME"
######################################
*/

.content-section.home-section {
    align-items: center;
}

.band-members {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.band-members__name,
.band-members__desc {
    display: none;
}

/*
######################################
SEKCJA "ABOUT"
######################################
*/

.about {
    position: relative;
    margin-left: 290px;
    margin-bottom: 115px;
}

.about__image {
    max-width: 100%;
    border-top: 3px solid #EF008E;
}

.about__desc-header {
    margin-bottom: 30px;
    color: #CCC8FF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__desc {
    position: absolute;
    left: -290px;
    bottom: -115px;
    width: 380px;
    padding: 30px;
    background-color: #25072e;
    border-bottom: 3px solid #EF008E;
}

/*
######################################
SEKCJA "CONCERTS"
######################################
*/

.concerts {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 55px;
    row-gap: 45px;
}

.concerts__image {
    width: 100%;
    border-bottom: 3px solid #EF008E;
}

.concerts__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}

.concerts__info-base {
    flex-grow: 1;
}

.concerts__date {
    margin: 0;
    color: #CCC8FF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.8px;
}

.concerts__location {
    margin: 0;
    letter-spacing: 3.8px;
}

/*
######################################
SEKCJA "VIDEO"
######################################
*/

.embedded-video {
    border-top: 3px solid #EF008E;
}

/*
######################################
SEKCJA "PHOTOS"
######################################
*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: calc(80% + 20px); /* Znosi wpływ .gallery__item { margin-left: 20px; } */
    margin-top: -20px; /* Znosi wpływ .gallery__item { margin-top: 20px; } */
}

.gallery__item {
    width: calc((100% - 3 * 20px) / 3);
    margin-top: 20px;
    margin-left: 20px;
}

.gallery__image {
    width: 100%;
    border-top: 3px solid #EF008E;
}

@supports (display: grid) {
    .gallery {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 0;
    }

    .gallery__item {
        width: 100%;
        margin: 0;
    }
}

/*
######################################
SEKCJA "CONTACT"
######################################
*/

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.contact__img {
    max-width: 100%;
}

.contact__address {
    padding: 70px;
    font-style: normal;
}

.contact__form {
    flex-basis: 50%;
    padding-top: 40px;
}


/* //////////////////////////////// MOBILE STYLES //////////////////////////////// */

@media screen and (max-width: 360px) {

    body {
        background-image: none;
    }
    /*
    ######################################
    PRZYCISKI
    ######################################
    */

    .button {
        width: 100%;
        height: 40px;
    }

    /*
    ######################################
    FORMULARZE
    ######################################
    */

    .form__input {
        width: 100%;
    }

    /*
    ######################################
    GŁÓWNY LAYOUT STRONY
    ######################################
    */

    .page-header {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 64px;
        padding: 24px 24px 0;
    }

    .page-footer {
        position: static;
        padding: 24px;
    }

    .page-content {
        margin-left: 0;
        padding: 0 24px;
    }

    /*
    ######################################
    NAWIGACJA
    ######################################
    */

    .page-navigation__items {
        text-align: center;
    }

    /*
    ######################################
    LINKI DO SOCIAL MEDIA
    ######################################
    */
    .social-links {
        display: flex;
        justify-content: space-between;
    }

    .social-links__item + .social-links__item  {
        margin-top: 0;
    }

    .social-links__img {
        width: 32px;
        height: 32px;
    }

    /*
    ######################################
    STYLE WSPÓLNE DLA WSZYSTKICH SEKCJI
    ######################################
    */

    .content-section {
        align-items: center;
        min-height: unset;
        margin-bottom: 64px;
    }

    .content-section__header {
        margin-bottom: 32px;
    }

    .content-section__body {
        flex-grow: 1;
    }

    /*
    ######################################
    SEKCJA "HOME"
    ######################################
    */

    .band-members {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 12px;
    }

    .band-members__item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .band-members__image {
        width: 150px;
        height: 175px;
        margin-bottom: 16px;
        object-fit: contain;
    }

    .band-members__name,
    .band-members__desc {
        display: block;
        margin: 0;
        text-align: center;
    }

    .band-members__name {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .2px;
    }

    /*
    ######################################
    SEKCJA "ABOUT"
    ######################################
    */

    .about {
        margin: 0;
    }

    .about__desc-header {
        font-size: 18px;
    }

    .about__desc {
        position: static;
        width: 100%;
        padding: 24px;
    }

    .about__desc-content {
        font-size: 14px;
        line-height: 1.5;
    }

    /*
    ######################################
    SEKCJA "CONCERTS"
    ######################################
    */

    .concerts {
        width: 100%;
        grid-template-columns: 1fr;
        row-gap: 32px;
    }

    .concerts__info {
        flex-direction: column;
    }

    .concerts__info-base {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 16px;
    }

    /*
    ######################################
    SEKCJA "VIDEO"
    ######################################
    */

    .embedded-video {
        width: 100%;
    }

    /*
    ######################################
    SEKCJA "PHOTOS"
    ######################################
    */

    .gallery {
        display: block;
        width: 100%;
    }

    .gallery__item {
        margin-bottom: 12px;
    }

    @supports (display: grid) {
        .gallery {
            display: grid;
            grid-template-columns: 1fr;
            gap: 12px;
        }

        .gallery__item {
            margin-bottom: 0;
        }
    }

    /*
    ######################################
    SEKCJA "CONTACT"
    ######################################
    */

    .contact__form {
        width: 100%;
        flex-basis: unset;
    }

    .contact__item {
        margin-bottom: 24px;
    }

    .contact__address {
        padding: 0;
        line-height: 1.77;
    }
}
